
  /* Background color applied to all pages */

body {
	background-color:#E5877C;
	color:#fff;
	font-size:18px;
}

h1 {
	color:#fff;
}

  /* UI principles five bubbles*/
#title {
	color:#FFF;
	font-size:30px;
	padding-top:100px;
	padding-left:90px;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
    margin-left:20px;
    height:300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.backtohome{
    height: 50px;
    width: 150px;
    background-color: #fff;
    opacity:0.8;
    display: inline-block;
    border-radius:2%;
    line-height:50px;
    text-align:center;
    font-size:20px;
    color:#E5877C;
    margin-left:590px;
    margin-top:120px;
    margin-bottom:50px;
}

/* Color of navigation title links */
a:link {
    color:#E5877C;
	 text-decoration: none}

a:active{
	 color:#E5877C;
	 text-decoration:none;
}

a:visited {
    color: #FFCF2E;
	 text-decoration: none}

a:hover {
    color: #FFCF2E;
	 text-decoration: none}

